<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557420229495-ee0ba2gf0bnl6q7tmsg0tt1m6mmdmkj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557420229495-ee0ba2gf0bnl6q7tmsg0tt1m6mmdmkj4</string>
	<key>API_KEY</key>
	<string>AIzaSyAwlPS2K8ieNiLIQ__cU2O9NCyoBa3ACIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>557420229495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosapptemplate.tutorial.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-a1b06</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-a1b06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557420229495:ios:6f92909e995e272583e772</string>
</dict>
</plist>